{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center" style="min-height:1000px; align-content: center; background-color: rgb(250, 249, 246); width: 150%;" >
    <div class="form-group">
        <form class="formss"  method="post">
        {% csrf_token %}
         <!-- <div class="form-group">
                    
   
    
         {% for message in messages %}
         <div class="alert alert-danger">
         {{message}}
         </div>
         {% endfor %}
            
            <input type="text" class="form-control" name="username" placeholder="Full Name" required>
          </div> -->
          <div class="form-group">
            
            <textarea type="text class="form-control" id='inptext' name='inptext' rows="15" cols="80" placeholder="sumbit your text here">{{input_txt}}</textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form> 
      
  </div>  
   
<div class="col-lg-6" ><textarea id='outtext' name='outtext' rows="15" cols="50" aria-colspan="10px">{{output_txt1}}</textarea></div> 
<div class="col-lg-6"><textarea id='outtext2' name='outtext2' rows="15" cols="50">{{output_txt2}}</textarea></div> 
    
</div>
{% endblock %}