{% extends 'base.html' %}
{% block content %}

<style>
  .output1-div, .output2-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copy-icon {
    width: 10rem;

    background-color: black;
  }

</style>

<div class="jumbotron text-center" style="min-height:1000px; align-content: center; background-color: rgb(250, 249, 246); width: 150%;" >
    <div class="form-group">
        <form class="formss"  method="post">
        {% csrf_token %}
         <!-- <div class="form-group">
                    
   
    
         {% for message in messages %}
         <div class="alert alert-danger">
         {{message}}
         </div>
         {% endfor %}
            
            <input type="text" class="form-control" name="username" placeholder="Full Name" required>
          </div> -->
          <div class="form-group">
            
            <textarea type="text class="form-control" id='inptext' name='inptext' rows="15" cols="80" placeholder="sumbit your text here">{{input_txt}}</textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form> 
      
  </div>  
   
<div class="col-lg-4 output1-div">
  <textarea id='outtext' name='outtext' rows="15" cols="40" aria-colspan="10px">{{output_txt1}}</textarea>
  <button type="button" class="copy-icon btn btn-primary" id="copy-icon-1">Copy</button>
</div> 
<div class="col-lg-4 output2-div">
  <textarea id='outtext2' name='outtext2' rows="15" cols="40">{{output_txt2}}</textarea>
  <button type="button" class="copy-icon  btn btn-primary"" id="copy-icon-2">Copy</button>
</div> 
<div class="col-lg-4 output3-div">
  <textarea id='outtext3' name='outtext3' rows="15" cols="40">{{output_txt3}}</textarea>
  <button type="button" class="copy-icon  btn btn-primary"" id="copy-icon-3">Copy</button>
</div> 
</div>


<script>
  copy_icon_1 = document.getElementById("copy-icon-1");
  outtext = document.getElementById("outtext");
  copy_icon_1.addEventListener("click", function (event) {
      outtext.select();
      // outtext.setSelectionRange(0, 99999);
      
      console.log(outtext.value);

      navigator.clipboard.writeText(outtext.value);
  });

  copy_icon_2 = document.getElementById("copy-icon-2");
  outtext2 = document.getElementById("outtext2");
  copy_icon_2.addEventListener("click", function (event) {
      outtext2.select();
      // #outtext2.setSelectionRange(0, 99999);
      
      console.log(outtext2.value);

      navigator.clipboard.writeText(outtext2.value);
  });
  copy_icon_3 = document.getElementById("copy-icon-3");
  outtext3 = document.getElementById("outtext3");
  copy_icon_3.addEventListener("click", function (event) {
      outtext3.select();
      // #outtext2.setSelectionRange(0, 99999);
      
      console.log(outtext3.value);

      navigator.clipboard.writeText(outtext3.value);
  });
</script>
{% endblock %}
{% if output_txt3 %}
  {% block footercontent %}
  <div class="text-center"><h2> Sentiment Analysis Score :  {{sentiment_txt}} </h2></div>
  {% endblock %}
{% endif %}